body {
  background-color: #FFFFFF;
  color: #333333;
  font-family: "Arial";
  line-height: 1.8;
}

a {
  text-decoration: none;
}

ul, li {
  list-style: none;
}

.wrapper {
  max-width: 860px;
  margin: 0 auto;
}

.section-title {
  font-size: 36px;
  font-weight: 500;
  margin-bottom: 100px;
  text-align: center;
  position: relative;
}
.section-title::after {
  content: "";
  width: 100px;
  height: 3px;
  background-color: #333333;
  display: block;
  position: absolute;
  bottom: -20px;
  left: 0;
  right: 0;
  margin: 0 auto;
}

@media screen and (max-width: 900px) {
  .section-title {
    margin-bottom: 60px;
    font-size: 28px;
  }
}
.header {
  display: flex;
  top: 0;
  width: 100%;
  height: 100px;
}
.header .header-logo {
  width: 100px;
  margin-top: 40px;
  margin-left: 50px;
}
.header .hamburger {
  position: fixed;
  right: 0;
  background-color: #FF2A2A;
  width: 100px;
  height: 100px;
  cursor: pointer;
  transition: 0.5s;
  z-index: 200;
}
.header .hamburger:hover {
  opacity: 0.8;
}
.header .hamburger span {
  position: absolute;
  width: 50px;
  height: 2px;
  background-color: #FFFFFF;
  left: 25.5px;
  transition: 0.4s;
}
.header .hamburger span:nth-child(1) {
  top: 36px;
}
.header .hamburger span:nth-child(2) {
  top: 50px;
}
.header .hamburger span:nth-child(3) {
  top: 64px;
}
.header .hamburger.active span:nth-child(1) {
  top: 50px;
  transform: rotate(-45deg);
}
.header .hamburger.active span:nth-child(2),
.header .hamburger.active span:nth-child(3) {
  top: 50px;
  transform: rotate(45deg);
}
.header #hamburger-navigation {
  width: 100%;
  height: 100vh;
  background-color: #FF2A2A;
  color: #FFFFFF;
  position: fixed;
  top: 0;
  left: 0;
  z-index: 100;
  opacity: 0;
  font-size: 16px;
  font-weight: bold;
  transition: opacity 0.8s ease, visibility 0.8s ease;
  visibility: hidden;
}
.header #hamburger-navigation .hamburger-logo {
  width: 100px;
  margin-top: 40px;
  margin-left: 50px;
}
.header #hamburger-navigation .hamburger-sections {
  width: 100%;
  display: block;
  flex-direction: column;
  position: absolute;
  margin-top: 100px;
  align-items: center;
  font-size: 16px;
  font-weight: bold;
}
.header #hamburger-navigation .hamburger-sections li {
  margin-bottom: 20px;
  text-align: center;
}
.header #hamburger-navigation .hamburger-sections li a {
  cursor: pointer;
}
.header #hamburger-navigation .btn {
  display: block;
  position: relative;
  top: 250px;
  border: 1px solid #FFFFFF;
  padding: 15px 0;
  margin: 0 auto;
  width: 250px;
  text-align: center;
  font-weight: bold;
  transition: 0.3s ease-in-out;
}
.header #hamburger-navigation .btn::after {
  content: "";
  width: 250px;
  border-right: 1px solid #FFFFFF;
  border-bottom: 1px solid #FFFFFF;
  padding: 15px 0;
  position: absolute;
  right: -6px;
  bottom: -6px;
}

#hamburger-navigation.active {
  opacity: 1;
  visibility: visible;
}

@media screen and (max-width: 900px) {
  .header {
    height: 80px;
  }
  .header .header-logo {
    width: 100px;
    margin-top: 25px;
    margin-left: 25px;
  }
  .header .hamburger {
    width: 75px;
    height: 75px;
  }
  .header .hamburger span {
    position: absolute;
    width: 35px;
    height: 2px;
    background-color: #FFFFFF;
    left: 20px;
    transition: 0.4s;
  }
  .header .hamburger span:nth-child(1) {
    top: 26px;
  }
  .header .hamburger span:nth-child(2) {
    top: 50%;
  }
  .header .hamburger span:nth-child(3) {
    top: 48px;
  }
  .header .hamburger.active span:nth-child(1) {
    top: 50%;
    transform: rotate(-45deg);
  }
  .header .hamburger.active span:nth-child(2),
  .header .hamburger.active span:nth-child(3) {
    top: 50%;
    transform: rotate(45deg);
  }
}
#mainvisual {
  position: relative;
  height: 720px;
  margin-bottom: 120px;
}
#mainvisual .main-slider img {
  width: 100%;
  height: 720px;
  object-fit: cover;
}
#mainvisual .main-slider .slide {
  width: 75%;
  position: absolute;
  top: 0;
  right: 0;
  opacity: 0;
  animation: slide 15s infinite;
}
#mainvisual .main-slider .slide::after {
  content: "";
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  box-shadow: inset 0 0 20px 20px #FFFFFF;
}
#mainvisual .main-slider .slide:nth-child(1) {
  animation-delay: 0s;
}
#mainvisual .main-slider .slide:nth-child(2) {
  animation-delay: 5s;
}
#mainvisual .main-slider .slide:nth-child(3) {
  animation-delay: 10s;
}
@keyframes slide {
  0% {
    opacity: 0;
  }
  15% {
    opacity: 1;
  }
  30% {
    opacity: 1;
  }
  45% {
    opacity: 0;
  }
  100% {
    opacity: 0;
  }
}
#mainvisual .main-text {
  position: absolute;
  top: 280px;
  left: 140px;
  z-index: 10;
}
#mainvisual .main-text .text {
  font-size: 46px;
  font-weight: 500;
  margin-bottom: 30px;
  text-shadow: #FFFFFF;
}
#mainvisual .main-text .btn {
  display: inline-block;
  cursor: pointer;
  color: #FFFFFF;
  background-color: #FF2A2A;
  width: 464px;
  padding: 15px;
  text-align: center;
  font-size: 24px;
  border-radius: 10px;
  box-shadow: 0 5px 0 0 #7A051C;
  position: relative;
  transition: 0.3s;
}
#mainvisual .main-text .btn::after {
  content: "";
  width: 16px;
  height: 16px;
  border-top: 3px solid #FFFFFF;
  border-right: 3px solid #FFFFFF;
  transform: rotate(45deg);
  position: absolute;
  top: 26px;
  right: 30px;
}
#mainvisual .main-text .btn:hover {
  opacity: 0.9;
  transform: scale(1.05);
}

@media screen and (max-width: 900px) {
  #mainvisual {
    height: 490px;
    margin-bottom: 80px;
  }
  #mainvisual .main-slider img {
    height: 300px;
  }
  #mainvisual .main-slider .slide {
    width: 100%;
  }
  #mainvisual .main-text {
    width: 100%;
    top: 300px;
    left: 0;
    padding: 10px 16px;
  }
  #mainvisual .main-text .text {
    font-size: 28px;
    margin-bottom: 10px;
  }
  #mainvisual .main-text .btn {
    width: 100%;
  }
}
#reason .reason-box {
  height: 600px;
  background-color: #FF2A2A;
  padding: 80px 0;
  position: relative;
  gap: 40px;
}
#reason .reason-box .slide-left {
  width: 50%;
  height: 200px;
  background-color: #FFFFFF;
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 30px;
  margin-bottom: 40px;
  border-top-right-radius: 20px;
  border-bottom-right-radius: 20px;
  opacity: 0;
  transition: all 0.5s;
  transform: translateX(-50%);
}
#reason .reason-box .slide-left .icon-pc {
  width: 87px;
  height: 60px;
}
#reason .reason-box .slide-left .item-text {
  font-size: 18px;
}
#reason .reason-box .slide-left .item-text span {
  color: #FF2A2A;
  font-size: 28px;
  font-weight: 500;
}
#reason .reason-box .slide-left.fadein-left {
  opacity: 1;
  transform: translateX(0%);
}
#reason .reason-box .slide-right {
  width: 50%;
  height: 200px;
  background-color: #FFFFFF;
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 30px;
  border-top-left-radius: 20px;
  border-bottom-left-radius: 20px;
  opacity: 0;
  transition: all 0.5s;
  transform: translateX(200%);
}
#reason .reason-box .slide-right .icon-teacher {
  width: 51px;
  height: 60px;
}
#reason .reason-box .slide-right .item-text {
  font-size: 18px;
}
#reason .reason-box .slide-right .item-text span {
  color: #FF2A2A;
  font-size: 28px;
  font-weight: 500;
}
#reason .reason-box .slide-right.fadein-right {
  opacity: 1;
  transform: translateX(100%);
}
@media screen and (max-width: 900px) {
  #reason .reason-box .slide-left {
    width: calc(100% - 16px);
  }
  #reason .reason-box .slide-right {
    width: calc(100% - 16px);
    margin-left: 16px;
    transform: translateX(100%);
  }
  #reason .reason-box .slide-right.fadein-right {
    transform: translateX(0%);
  }
}

#voice {
  padding: 120px 0;
}

.voice-box {
  max-width: 860px;
  margin: auto;
}
.voice-box .voice-item {
  display: flex;
  justify-content: center;
  gap: 25px;
  margin-bottom: 60px;
  opacity: 0;
  transform: scale(0.1);
  transition: all 0.5s;
}
.voice-box .voice-item:nth-of-type(2) {
  flex-direction: row-reverse;
}
.voice-box .voice-item.ballon {
  opacity: 1;
  transform: scale(1);
}

@media screen and (max-width: 900px) {
  .voice-box {
    padding: 0 16px;
    width: 100%;
  }
  .voice-box .voice-item {
    flex-direction: column-reverse;
  }
  .voice-box .voice-item:nth-of-type(2) {
    flex-direction: column-reverse;
  }
}
.student-img {
  display: flex;
  flex-direction: column;
  text-align: center;
  width: 120px;
}
.student-img img {
  background-color: #CCCCCC;
  border-radius: 50%;
  margin-bottom: 9px;
}

@media screen and (max-width: 900px) {
  .student-img {
    margin: 0 auto;
  }
}
.student-text {
  width: 520px;
  background-color: #E9F1FB;
  border-radius: 15px;
  padding: 20px;
  position: relative;
}

@media screen and (max-width: 900px) {
  .student-text {
    width: 100%;
    margin: 0 auto;
    text-align: center;
  }
}
.balloon-left::before {
  content: "";
  position: absolute;
  top: 60%;
  left: 0;
  margin-left: -30px;
  border: 15px solid transparent;
  border-right: 15px solid #E9F1FB;
}

.balloon-right::before {
  content: "";
  position: absolute;
  top: 60%;
  right: 0;
  margin-right: -30px;
  border: 15px solid transparent;
  border-left: 15px solid #E9F1FB;
}

@media screen and (max-width: 900px) {
  .balloon-left::before,
  .balloon-right::before {
    top: 100%;
    left: 50%;
    right: auto;
    margin-left: -15px;
    border: 15px solid transparent;
    border-top: 15px solid #E9F1FB;
  }
}
#summary {
  background-image: url("../img/bg.gif");
  background-repeat: repeat;
  padding: 60px;
  animation: fall 10s infinite linear;
}
#summary .summary-list {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  row-gap: 32px;
  column-gap: 40px;
}
@media screen and (max-width: 900px) {
  #summary .summary-list {
    flex-direction: column;
    width: 100%;
  }
}
#summary .summary-list .summary-item {
  background-color: #FFFFFF;
  padding: 60px;
  border-radius: 20px;
  width: 45%;
}
#summary .summary-list .summary-item .summaryItem-title {
  text-align: center;
}
#summary .summary-list .summary-item .summaryItem-title .ja {
  display: block;
  font-size: 28px;
  font-weight: 500;
}
#summary .summary-list .summary-item .summaryItem-title .en {
  display: block;
  font-size: 18px;
  margin-bottom: 30px;
}
@media screen and (max-width: 900px) {
  #summary .summary-list .summary-item {
    width: 100%;
  }
}

@keyframes fall {
  0% {
    background-position: 0 0;
  }
  100% {
    background-position: -700px 700px;
  }
}
#entry {
  padding: 120px;
}
#entry .entry-box {
  max-width: 860px;
  margin: auto;
  text-align: center;
}
#entry .entry-box h1 {
  font-size: 32px;
  font-weight: 500;
}
#entry .entry-box p {
  margin-bottom: 40px;
}
#entry .entry-box .btn {
  display: block;
  width: 100%;
  background-color: #FF2A2A;
  color: #FFFFFF;
  font-size: 28px;
  font-weight: 500;
  padding: 15px 0;
  border-radius: 40px;
  cursor: pointer;
  transition: 0.3s;
  border: 3px solid #FF2A2A;
}
#entry .entry-box .btn:hover {
  background-color: #FFFFFF;
  color: #FF2A2A;
  border: 3px solid #FF2A2A;
}

@media screen and (max-width: 900px) {
  #entry {
    padding: 80px 14px;
  }
}
.footer {
  padding: 60px 16px 20px;
  background-color: #E9F1FB;
}
.footer .footer-inner {
  max-width: 860px;
  margin: auto;
  display: flex;
  justify-content: space-between;
  margin-bottom: 60px;
}
.footer .footer-inner p {
  font-weight: bold;
}
.footer .footer-copyright {
  text-align: center;
  font-size: 10px;
}

@media screen and (max-width: 900px) {
  .footer-inner {
    width: 100%;
    flex-wrap: wrap;
  }
  .footer-inner .footer-list {
    width: 50%;
    margin-bottom: 30px;
  }
}/*# sourceMappingURL=style.css.map */
